:root {
  --color-blue-medium: #4169E1;
  --color-azul:	#4169E1;
  --color-gray: #ccc;
  --color-gray-medium: #f8f9fa;
  --color-yellow: #fac32c;
  --color-naranja: #FF6347;
}

/******GENERAL ESTILOS****/
a {
  color: #000 !important;
}

.container > .row{
  margin-bottom: 5rem;
}
/*-----> NAV */
.navbar-main .active{
  text-decoration: underline wavy var(--color-naranja);
  text-underline-offset: 9px;
  font-weight: bold;
}
/*------> HEADER */
.icons-social > a img{
  --size:30px !important;
  width: var(--size);
  height: var(--size);
  
}
.icons-social > a {
  transition: .5s filter;
}
.icons-social > a:hover{
  filter: opacity(0.5);
}
.photo-frame{
  font-size: 20px;
}
.photo-frame::before, .photo-frame::after{/**para evitar que las animaciones se muestren encima de cuaquier elemento que se muestre en la pagina**/
  content:"";
  display: block;
  width:var(--box-size);
  height: var(--box-size);
  position: absolute;
  z-index: -10;
  animation: turnZ 7s linear alternate-reverse;
  animation-iteration-count: infinite;
}

.photo-frame::before{
  --box-size :3em;
  background-image: radial-gradient(var(--color-naranja) 50%, var(--color-azul) 50%);
  top: calc(99% - (var(--box-size)/2));
  right: calc(99% - (var(--box-size)/2));

}

.photo-frame::after{
  --box-size:5em;
  bottom:calc(98% - (var(--box-size)/2));
  left : calc(98% - (var(--box-size)/2));
  background: linear-gradient(45deg, var(--color-gray-medium) 45%, transparent 45%),
  radial-gradient(var(--color-blue-medium) 30%, var(--color-naranja) 30% 70%, var(--color-gray-medium) 70%, transparent 70%);
}

@keyframes turnZ {
  to{
    transform: rotate(1turn);
  }
}
.header-main{
    min-height: 100vh;
  }


.header-main{
  min-height: 100vh;
}
/********Servicios******/
.icon-service{
  --box-size:70px;
  width: var(--box-size);
  height: var(--box-size);
  padding: 10px;
}

/******Portafolio********/
.portfolio-item > img{
  transition: 0.4s transform;
}

.portfolio-item:hover > img{
  transform: scale(0.96);
}

/****Clientes****/

.bg-purple{
  background-color: rgba(131 87 235 / 0.3);
  filter: opacity(0.55);
}